@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@utility neo-border {
  @apply border-[3px] border-black;
}
@utility neo-shadow {
  @apply shadow-[8px_8px_0px_rgba(0,0,0)];
}
@utility neo-shadow-sm {
  @apply shadow-[4px_4px_0px_rgba(0,0,0)];
}
@utility bento-transition {
  @apply transition-all duration-300 hover:-translate-x-0.5 hover:-translate-y-0.5 hover:shadow-[12px_12px_0px_rgba(0,0,0)];
}

@utility btn-primary {
  @apply rounded-xl border-[3px] border-black bg-lime-400 p-2 font-bold shadow-[4px_4px_0px_rgba(0,0,0)] transition-all duration-300 hover:translate-x-1 hover:translate-y-1 hover:shadow-none;
}

body {
  background: var(--background);
  color: var(--foreground);
}
